@import "tailwindcss";
@plugin "daisyui";

/* Prevenir selección de texto no deseada en toda la app */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Permitir selección de texto en inputs y elementos editables */
input,
textarea,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
@layer components {
  .btn,
  .btn:hover,
  .btn:focus,
  .btn:active {
    box-shadow: none !important;
  }
}